<div class="drop container dark" id="todo">
  <div class="page-header">
    <h2>Loadavg</h1>
    <p class="lead">Server load in 1, 5, and 15 minut intervals</p>
  </div>
  <ul>
    <li class="chart">
      <div id="lineChart">
        <svg id="lineChartSVG" class="lineChart--svg">
          <defs>
            <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
              <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
              <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </li>
  </ul>
</div>
