<p class="lead">I am a full time hacker who has a passion for finding creative and effective solutions to practical problems by pushing bits around until they do my bidding.</p>

<p>This is a playground for ideas that can double as a showcase of my work. I hope you find something interesting, and make sure you check out our baby,
  <a href="https://sparehanger.com" target="_blank">sparehanger</a> &#8212; a new way to find, organize, and share your style.</p>

<p>I love and am intrigued by algorithms, machine learning, networking, big data analytics, trend prediction, and everything the future holds for us. I am a fitness buff, a bitcoin and namecoin nerd, and have an interest in genetic research. Beyond
  that, <a href="http://www.last.fm/user/n344853835">music</a> has always been a huge part of my life.</p>

<p>
  <s>You can also check out my <a href="http://osrc.dfm.io/selbyk">Open Source Report Card</a>, but it's really just for fun.</s>
</p>

<p>May we have the pleasure of working together to build something great. =)</p>
