<h3>
  Resume
</h3>
<img width="100%" src="/resume-safe.svg">
<h4 class="text-center">
  <a href="/resume-safe.pdf" target="_blank">
    <span class="icon ion-document-text"> </span> Download PDF
  </a>
</h4>
