<h3 class="text-center">
  <a href="/resume-safe.pdf" target="_blank">
    <span class="icon ion-document-text"> </span> Download PDF
  </a>
</h3>
{{pdf-viewer url="/resume-safe.pdf"}}
<h3 class="text-center">
  <a href="/resume-safe.pdf" target="_blank">
    <span class="icon ion-document-text"> </span> Download PDF
  </a>
</h3>
