<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//use.typekit.net/rqv5ogs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <title>Selby Kendrick | selby.io</title>

        <meta name="description" content="Personal website of computer nerd Selby Kendrick.">
        <meta name="keywords" content="selby,kendrick,software,engineer,cacheit!,programmer,lsu,sparehanger,everlane">
        <meta name="author" content="Selby Kendrick">
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <h1 id="title" class="centered">selby.io</h1>
        
        <div class="content centered">
            <div class="quote">
                <q>...as simple as possible, but not simpler.</q>
                <br/>
                <p class="credit">—Albert Einstein</p>
            </div>
        </div>

        <noscript>
            <div class="content centered">
                <p>
                    Notice: You don't have javascript enabled, and you're probably having a bad time. But it's cool, bro. We aren't using any javascript here, so you're in luck.
                </p>
            </div>
        </noscript>
       
      	<div id="laptop">
          	<div class="screen">
              	<h3 class="centered">Hello, world!</h3>
              	<p>
                    It seems you've managed to stumble across my personal page.  My name's Selby Kendrick, and I enjoy doing nerdy things with computers while listening to music.
                  	I help develop <a href="http://www.sparehanger.com">sparehanger</a> and work for <a href="http://www.everlane.com">Everlane</a> as a contracted developer.
              	</p>
                <p>
                    I also wrote the Firefox extension <a href="https://addons.mozilla.org/en-US/firefox/addon/cacheit/">CacheIt!</a>, if you're into cached & archived websites for whatever reason.
                </p>
                <p>
                    Well, I guess that's all I got for ya.  Hope you enjoy the site and feel free to get in touch with me using the links below.
                </p>
                <span class="sig">
                    -Selby
                </span>
            </div>
      	</div>

      	<div id="social-bar">
      	 	<div class="social-wrapper">
    	  	 	<div class="button linkedin"><a href="http://www.linkedin.com/pub/selby-kendrick/50/289/650" alt="LinkedIn"></a></div>
    	  	 	<div class="button github"><a href="https://github.com/selbyk" alt="Github"></a></div>
    	  	 	<div class="button lastfm"><a href="http://www.last.fm/user/n344853835" alt="Lastfm"></a></div>
    	  	 	<div class="button email"><a href="mailto:selby.kendrick@gmail.com" alt="E-mail me"></a></div>
    	  	 	<div class="clear"></div>
      	 	</div>
      	</div>

        <div class="footer">
            <p class="copyright">&copy 2014 Selby Kendrick</p>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48749144-1', 'selby.io');
            ga('send', 'pageview');
        </script>
    </body>
</html>
