@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

html, body {
  margin: 0px;
}

pre.logo {
  font-family: 'Source Code Pro', null;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 0.6;
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  color: #F8F8F8;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #1F1F1F;
  border: 0px solid #CCC;
  border-radius: 0px;
}
