<div class="container">
    <h3><span class="icon ion-document-text"> </span> {{title}}</h3>
    <h4 class="text-right">
      {{#if session.isAuthenticated}}
        {{#link-to 'posts.edit' model}}<span class="icon ion-compose"> Edit</span>{{/link-to}}
      {{/if}}
    </h4>
    <h5>Created {{ago created_at}} - Updated {{ago updated_at}}</h5>
    {{showdown-addon model.content}}
</div>
