<div class="container">
    <h3><span class="icon ion-document-text"> </span> {{title}}</h3>
    <h5>Created {{ago created_at}} - Updated {{ago updated_at}}</h5>
    <p>
      {{model.content}}
    </p>
</div>
