<div class="row">
    <div class="col-xs-12 col-md-8">
      <h5 class="text-right">
        posted {{ago post.created_at}}, updated {{ago post.updated_at}}
          {{#if session.isAuthenticated}}
          {{#link-to 'posts.edit' post}}
            <span class="icon ion-compose"> Edit</span>
          {{/link-to}}
        {{/if}}
      </h5>
    </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8">
    {{format-markdown post.content}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8">
    {{disqus-comments identifier=post.id title=post.title}}
  </div>
</div>
