<div class="container">
  <div class="page-header">
    <h2><span class="icon ion-person"> </span> Bio</h2>
  </div>
  <div class="row-fluid">
    <div class="hidden-xs col-md-2">
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="col-xs-5 col-md-4">
        <img class="img-responsive" src="/selby.jpg">
        <a href="/resume.pdf"><span class="icon ion-document-text"> </span> Resume</a><br>
        <a href="https://github.com/selbyk" target="_blank"><span class="icon ion-social-github"> </span> Github Profile</a><br>
        <a href="https://osrc.dfm.io/selbyk/" target="_blank"><span class="icon ion-code-working"> </span> Open Source Report Card</a><br>
        <a href="http://amzn.com/w/1E0CW6S39FVMS" target="_blank"><span class="icon ion-heart"> </span> Amazon Wishlist</a><br>
        {{#link-to 'stats'}}<s><span class="icon ion-arrow-graph-up-right"> </span> Server Stats (WIP)</s>{{/link-to}}<br>
      </div>
      <p class="lead">I am a full time hacker who has a passion for finding creative and effective
        solutions to practical problems by pushing bits around until they do my bidding.</p>
      <p>This is a playground for ideas that can double as a showcase of my work. I
        hope you find something interesting, and make sure you check out our baby,
        <a href="https://sparehanger.com" target="_blank">sparehanger</a> &#8212; a new way
        to find, organize, and share your style.</p>

      <p>I love and am intrigued by algorithms, machine learning, networking, big data analytics, trend prediction, and everything the future holds for us. I am a fitness buff, a bitcoin and namecoin nerd, and have an interest in genetic research. Beyond that, <a href="http://www.last.fm/user/n344853835">music</a> has always been a huge part of my life.</p>

      <p><s>You can also check out my <a href="http://osrc.dfm.io/selbyk">Open Source Report Card</a>, but it's really just for fun.</s></p>

      <p>May we have the pleasure of working together to build something great. =)</p>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
