<div class="container">
  <div class="page-header">
    <h2><span class="icon ion-person"> </span> Bio</h2>
  </div>
  <p>I have always had a passion for finding effective and efficient solutions to difficult, practical problems.</p>

  <p>I am a full-time software engineering student at Louisiana State University (LSU) and work as a full-stack software engineer at Keletaire, Inc, a start-up here in Baton Rouge.</p>

  <p>I began teaching myself C++ and Arch Linux while in middle school around the age of 12. You can check out an archived version of my first website here: http://goo.gl/GtSnV9</p>

  <p>As a freshman at West Feliciana High School (WFHS) I was a big fan of Digg and Slashdot. Tired of dealing with server crashes of posted links, I wrote the Firefox extension CacheIt! so cached copies were a click away. http://goo.gl/E26yTL</p>

  <p>I also wrote a simple before-its-time "cloud file-sharing webapp" similar to Dropbox as a freshman so we could transfer files between home and school because the use of flashdrives was forbidden. It was used by a few dozen students to share a few hundred files while I attended WFHS.</p>

  <p>I left WFHS to attend the Louisiana School for Math, Science, and the Arts (LSMSA) as a junior and finally had the opportunity to take my first few programming classes. I graduated from LSMSA with a college prep diploma in 2010.</p>

  <p>Now I help create http://sparehanger.com/, a new way to find and share clothes and outfits, and manage the platform it runs so as to be as stable and snappy as possible.</p>

  <p>I love and am intrigued by algorithms, machine learning, networking, big data analytics, trend prediction, and everything the future holds for us. I am a fitness buff, a bitcoin and namecoin nerd, and have an interest in genetic research. Beyond that, music has always been a huge part of my life. http://www.last.fm/user/n344853835</p>

  <p>You can also check out my Open Source Report Card, but it's really just for fun. http://osrc.dfm.io/selbyk</p>

  <p>May we have the pleasure of working together to build something great. =)</p>
</div>
