<div class="container">
  <!-- START THE FEATURETTES -->
  <div class="page-header">
    <h2>
      <span class="mega-octicon octicon-tools"></span> Tools
      <br>
      <small>All the small things /
        <br> True care, truth brings</small>
    </h2>
  </div>
</div>

<div class="container">

  <h3>Backend</h3>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/UMCUXHJ.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">I run on a Linode server</h3>
      <p class="lead">Linode (a portmanteau of the words linux and node) is a privately owned virtual private server provider based in Galloway, New Jersey.</p>
      <p>Instantly deploy and manage an SSD server in the Linode Cloud. Get a server running in seconds with your choice of Linux distro, resources, and node location.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/nykLble.png" alt="node.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">My code is 100% Javascript, thanks to Node.js</h3>
      <p class="lead">Node.js is an open source, cross-platform runtime environment for server-side and networking applications.</p>
      <p>Node.js applications are written in JavaScript, and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux and FreeBSD.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/V8LVOZ3.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">Express serves my pages quickly on any computer</h3>
      <p class="lead">Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
      </p>
      <p>One command can turn any computer into a clone of LSU Secheduler with comparable performance to traditional webservers, without the need for complicated server software like nginx or apache. Though, if you do know how to use nginx (or apache), it
        would be easy to scale up using reverse port forwarding and upstream connection pooling by running multiple (identical) express servers on the same computer or local network.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/owIPllW.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">Sequelize abstracts my database queries so I can talk to anyone</h3>
      <p class="lead">The Sequelize library provides easy access to MySQL, MariaDB, SQLite or PostgreSQL databases by mapping database entries to objects and vice versa.</p>
      <p>To put it in a nutshell, it's an ORM (Object-Relational-Mapper). The library is written entirely in JavaScript and can be used in the Node.JS environment.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/ylOy5UK.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">I don't really have a database, though</h3>
      <p class="lead">PostgreSQL is an object-relational database management system (ORDBMS) with an emphasis on extensibility and standards-compliance.</p>
      <p>It can handle workloads ranging from small single-machine applications to large Internet-facing applications with many concurrent users. Recent versions also provide replication of the database itself for security and scalability.</p>
    </div>
  </div>
</div>

<div class="container">
  <h3>Frontend</h3>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/QgERiyu.png" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">Ember makes my frontend development fast and easy</h3>
      <p class="lead">Ember.js is an open-source client-side JavaScript web application framework based on the model-view-controller (MVC) software architectural pattern.</p>
      <p>It allows developers to create scalable single-page applications by incorporating common idioms and best practices into a framework that provides a rich object model, declarative two-way data binding, computed properties, automatically-updating
        templates powered by Handlebars.js, and a router for managing application state.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/2P5kdPx.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">And like everyone else, I got those Bootstrap blues</h3>
      <p class="lead">Bootstrap is a free collection of tools for creating websites and web applications.</p>
      <p>It contains HTML and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. In June 2014 it was the No.1 project on GitHub with over 73,000 stars and more
        than 27,000 forks, and a user base that includes MSNBC and NASA.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/OyhvSBf.png" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">With a litle eye candy by ionicons</h3>
      <p class="lead"> The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed. </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/w3YmUPD.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">Full Calendar is why the schedules look so pretty</h3>
      <p class="lead">FullCalendar is a jQuery plugin that provides a full-sized, drag and drop event. It uses AJAX to fetch events on-the-fly and is easily configured to use your own feed format. It is visually customizable with a rich API.</p>
      <p>Wait, what schedules?</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/ICEE6DF.png" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">And last but not least, thank Imgur for hosting these pics</h3>
      <p class="lead">Imgur is an image community that creates, consumes and shares tomorrow's viral images, today.</p>
      <p>Millions of images are uploaded each day to Imgur, where they are distilled by the Imgurian community into a stream of the Internet's best images and viewed billions of times. Expect to laugh, cry and be inspired by the images you'll find here.</p>
    </div>
  </div>

</div>

<div class="container">

  <h3>Development</h3>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/ZCCZehI.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">GitHub makes code collaboration simple</h3>
      <p class="lead">GitHub is a Git repository web-based hosting service, which offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features.</p>
      <p>Unlike Git, which is strictly a command-line tool, GitHub provides a web-based graphical interface and desktop as well as mobile integration. It also provides access control and several collaboration features such as wikis, task management, and
        bug tracking and feature requests for every project.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/1dBSynJ.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h3 class="featurette-heading">ember-cli is a commandline toolkit with super powers</h3>
      <p class="lead">Ember CLI is an Ember.js command line utility which provides a fast asset pipeline powered by broccoli and strong conventional project structure.
      </p>
      <p>Broccoli has support for:</p>
      <ul>
        <li>Handlebars</li>
        <li>Emblem</li>
        <li>LESS</li>
        <li>SASS</li>
        <li>Compass</li>
        <li>Stylus</li>
        <li>CoffeeScript</li>
        <li>EmberScript</li>
        <li>Minified JS and CSS</li>
      </ul>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/A0MBWIx.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h3 class="featurette-heading">Bower keeps our front end libraries in order and up to date</h3>
      <p class="lead">Web sites are made of lots of things-- 2014 frameworks, libraries, assets, utilities, and rainbows. Bower manages all these things for you.</p>
      <p>Bower works by fetching and installing packages from all over, taking care of hunting, finding, downloading, and saving the stuff you're looking for. Bower keeps track of these packages in a manifest file, `bower.json`. How you use packages is up
        to you. Bower provides hooks to facilitate using packages in your tools and workflows.</p>
      <p>Bower is optimized for the front-end. Bower uses a flat dependency tree, requiring only one version for each package, reducing page load to a minimum.</p>
    </div>
  </div>

</div>

<div class="container">
  <h3 class="text-center"><a href="https://developers.google.com/speed/pagespeed/insights/?url=selby.io&tab=desktop">How am I doing?</a></h3>
</div>

<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h3>Does any of this stuff sound cool to you?</h3>
    <p class="lead">Want to build cool things, have a feature you'd like to see, or just think something could be done better?</p>
    <p class="lead">A lot of my work is 100% open source, and most of the software used is avaliable on every platform and is heavily documented. So make it happen!</p>
    <p class="lead">Contributions are very welcome.</p>
    <p class="text-center">
      <a type="button" class="btn btn-primary" href="https://github.com/selbyk/selby.io">
        <span class="ion ion-fork"> Fork</span> on
        <span class="ion ion-social-github"> Github</span>
      </a>
    </p>
  </div>
</div>
