<div class="container">
  <div class="page-header">
    <h2>
      <span class="mega-octicon octicon-info"> </span> About
    </h2>
  </div>
  <div class="row-fluid text-center">
    <div class="col-xs-3">
      {{#link-to 'about.index' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-person"></span>
        </h3>
        <h4>Bio</h4>
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'about.projects' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-code"> </span>
        </h3>
        <h4>Projects</h4>
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'about.tools' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-tools"></span>
        </h3>
        <h4>Tools</h4>
      {{/link-to}}
    </div>
    <div class="col-xs-3">
      {{#link-to 'about.server' class='navigation' }}
        <h3>
          <span class="mega-octicon octicon-server"></span>
        </h3>
        <h4>Server</h4>
      {{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
