<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-social-hackernews"> </span> <a href="https://news.ycombinator.com/">Hacker News</a></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <ul class="nav nav-pills">
          {{#link-li}}
            {{#link-to 'hn.index'}}Top{{/link-to}}
          {{/link-li}}
          {{#link-li}}
            {{#link-to 'hn.new'}}New{{/link-to}}
          {{/link-li}}
          {{#link-li}}
            {{#link-to 'hn.ask'}}Ask HN{{/link-to}}
          {{/link-li}}
          {{#link-li}}
            {{#link-to 'hn.show'}}Show HN{{/link-to}}
          {{/link-li}}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="input-group">
          <span class="input-group-addon octicon octicon-search"></span>
          {{input action="hnSearch" class="form-control" placeholder="Search..."}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
