<div class="container jumbotron">
  <h1>Hello, world!</h1>
  <p>This is intended to be a playground for ideas that can double as a showcase of my work.</p>
  <p>It is a continuous project, so be careful because it's
    very possible I may crash your broswer by mistake.</p>
  <p>Thanks for visiting, hope you find something interesting.</p>
  <p>And make sure you check out our baby, <a href="https://sparehanger.com">sparehanger</a>.</p>
  <p>-Selby</p>
</div>

<div class="container" id="todo">
  <div class="page-header">
    <h2>Todo</h1>
  </div>
  <ul>
    <li><s>Add a project</s></li>
    <li>Finish the {{#link-to 'todo'}}todo{{/link-to}} tutorial</li>
  </ul>
</div>
