
<div class="drop container jumbotron dark">
  <h1>Hello, world!</h1>
  <p>This is a playground for ideas and a showcase of some of my work.</p>
  <p>It is a work in progress, so be careful because it's
    very possible I may crash your broswer by mistake.</p>
  <p>Hope you find something interesting, and if I do crash your browser
    let me know so I can fix it.</p>
  <p>Thanks for visiting. =)</p>
  <p>-Selby</p>
</div>

<div class="drop container dark" id="todo">
  <div class="page-header">
    <h2>Todo</h1>
  </div>
  <ul>
    <li><s>Add a project</s></li>
    <li>Add another</li>
  </ul>
</div>

<div class="drop container dark" id="projects">
  <div class="page-header">
    <h2>Projects</h1>
  </div>
  <ul>
    <li><a href="https://lsu-scheduler.herokuapp.com">A Project</a></li>
  </ul>
</div>
