<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-power"> </span> Hello, world!</h2>
  </div>
  <p class="lead">This is a playground for ideas, so play around. Break something if you can, but it'd be cool if you let me know how you did it.</p>
  <p class="lead">Thanks for visiting!</p>
  <p class="lead">-Selby</p>
</div>
<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-social-hackernews"> </span> <a href="https://news.ycombinator.com/">Hacker News</a></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <ul class="nav nav-pills">
          {{#link-to 'index' role="presentation" tagName="li" href=false}}
            {{#link-to 'index'}}Top{{/link-to}}
          {{/link-to}}
          {{#link-to 'hn.new' tagName="li" href=false}}
            {{#link-to 'hn.new'}}New{{/link-to}}
          {{/link-to}}
          {{#link-to 'hn.ask' tagName="li" href=false}}
            {{#link-to 'hn.ask'}}Ask HN{{/link-to}}
          {{/link-to}}
          {{#link-to 'hn.show' tagName="li" href=false}}
            {{#link-to 'hn.show'}}Show HN{{/link-to}}
          {{/link-to}}
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="input-group">
          <span class="input-group-addon octicon octicon-search"></span>
          {{input action="hnSearch" class="form-control" placeholder="Search..."}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
