<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-link"> </span> Links
      <small>
        Cool links and References
      </small>
    </h2>
  </div>
</div>

{{outlet}}
