<div class="container">
  <div class="page-header">
    <h2>
      <span class="icon ion-chatbubble"> </span> Blog
      <small>
        Some things I say
      </small>

    </h2>
    <h4 class="text-right">
      {{#if session.isAuthenticated}}
        {{#link-to 'posts.new'}}<span class="icon ion-plus"> New</span>{{/link-to}}
      {{/if}}
    </h4>
  </div>
</div>

{{outlet}}
