<div class="container">
  <div class="page-header">
    <h1><span class="icon ion-paper-airplane"> </span> Projects  <small> Some things I've worked on</small></h1>
  </div>
  <ul>
    <li><a href="https://pantry-pal.herokuapp.com/">Pantry Pal</a> - LSU CSC 4404 (Database Design): LSU scheduling assistant. (WIP)</li>
    <li><a href="https://lsu-scheduler.herokuapp.com">LSU Scheduler</a> - LSU CSC 4430 (Software Engineering): LSU scheduling assistant. (WIP)</li>
    <li><a href="http://www.codeagora.co/">Agora</a> - LSU CSC 3330 (Software Design): code snippet sharing </li>
    <li><a href="https://github.com/selbyk/colors_in_image">colors_in_image</a> - this was fun C++ to detect dominate colors in an image</li>
    <li><a href="http://sparehanger.com/">sparehanger</a> - helped create sparehanger, a new way to find your style, from the ground up</li>
    <li><a href="https://addons.mozilla.org/en-US/firefox/addon/cacheit/">CacheIt!</a> - first app used by a few thousand people to navigate to the cache of dead webpages</li>
    <li><a href="http://web.archive.org/web/20090204010714/http://schoolshare.ipterminal.com/">schoolshare</a> - first app that was used by a few kids in middle school to share files from home to school (Wayback Archive)</li>
    <li><a href="http://web.archive.org/web/20070429111748/http://www.ipterminal.com/about.php">ipterminal.com</a> - First "useful" tool to tell me my ip address (Wayback Archive)</li>
    <li><a href="http://web.archive.org/web/20060430022156/http://www.selbyk.com/about.php">selbyk.com</a> - First Personal Page (Wayback Archive)</li>
  </ul>
</div>
