<div class="container">
  <div class="page-header">
    <h2>Projects</h1>
  </div>
  <ul>
    <li><a href="https://lsu-scheduler.herokuapp.com">LSU Scheduler</a></li>
    <li><a href="https://pantry-pal.herokuapp.com/">Pantry Pal</a></li>
  </ul>
</div>
