<div class="container">
    <div class="page-header">
      <h2><span class="icon ion-navicon"> </span> Todo <small> "Procrastination is opportunity's assassin."</small></h2>
    </div>
    <input type="text" id="new-todo" placeholder="What needs to be done?">
    <h3 class="text-right">
      <a href="#"><span class="icon ion-compose"> Edit</span></a>
      <a href="#"><span class="icon ion-plus-round"> Add</span></a>
    </h3>
</div>

<div class="container">
    <section id="todoapp">
      <section id="main">
        <ul id="todo-list">
          <li class="completed">
            <input type="checkbox" class="toggle">
            <label>Learn Ember.js</label><button class="destroy"></button>
          </li>
          <li>
            <input type="checkbox" class="toggle">
            <label>...</label><button class="destroy"></button>
          </li>
          <li>
            <input type="checkbox" class="toggle">
            <label>Profit!</label><button class="destroy"></button>
          </li>
        </ul>
        <input type="checkbox" id="toggle-all">
      </section>

      <footer id="todo-footer">
        <span id="todo-count">
          <strong>2</strong> todos left  |
        </span>
        <a href="all" class="selected"> All </a> |
        <a href="active"> Active </a> |
        <a href="completed"> Completed </a> |
        <div id="filters">
        </div>

        <button id="clear-completed">
          Clear completed (1)
        </button>
      </footer>
    </section>
</div>

<div class="container">
  <p class="text-center">
    Forked from
    <a href="http://emberjs.com/guides/getting-started/planning-the-application/">
      this official Ember tutorial.
    </a>
  </p>
</div>

<div class="container">
  <div class="page-header">
    <h3>Real Todo</h3>
  </div>
  <ul>
    <li><s>Add a project</s></li>
    <li>Finish the todo tutorial</li>
    <li>Get {{#link-to 'files'}}files{{/link-to}} working</li>
  </ul>
</div>
